@import "tailwindcss";

@theme {
  --color-primario: #f3e9d8;
  --color-secundario: #e16737;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
.animate-enter {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(200px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.animate-leave {
  animation: fadeOut 0.5s ease forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(200px, 0);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: #1a1a1a;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-secundario);
  color: white;
}

.MusicPlayer-volumen {
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  -webkit-appearance: none;
  appearance: none;
  height: 0.3rem;
  outline: none;
  background-color: #e5e5e5;
  border-radius: 5px;
  transition-duration: 0.15s;
}

.MusicPlayer-volumen::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--color-secundario);
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
